<!DOCTYPE html>
<html>
<head>
    <title>Book Management System</title>
</head>
    <h1>Add Book:</h1>
<body>
    <form action="/books/add" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="number" name="year" placeholder="Year" required>
        <button type="submit">Add Book</button>
    </form>
	<a href="/">Go Back</a>
</body>
</html>
