<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="head" >
		<h1>Create Your Account Here</h1>
	</div>
	
	<ol>
	</ol>
	<hr>
	<div class="form">
		<form action="/createaccount" method="post">
			Username: <input type="text" name="username"><br>
			Password: <input type="password" name="password"><br>
            <ol></ol>
			<input type="submit" value="Create" class="button">
		</form>

        <a href='/login'>Back</a>
	</div>

	<br>

	<div class="msg">
		<% if (Message){ %>
			<div class="message">
			<%=Message%>
			</div>
			<% } %>
	</div>
	
	
	
</body>

</html>

