<html>

<body>
	<p>Haha</p>
	<ol>
	</ol>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Login">
	</form>
	<form action="/createaccount" method="get">
		<input type="submit" value="Create An Account">
	</form>
	<% if (Message){ %>
	<div class="message">
	<%=Message%>
	</div>
	<% } %>
</body>

</html>


